

.App{
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0px;
  border-radius: 20px;
  background-color: #8ABDD7;
}

.header{
  text-align: center;
  padding: 20px;
}

.menu-item{
  background-color: white;
  padding: 5px 10px;
  width: 100%;
}